 body{
   		color: #333333;
		font-family: "Arial", sans-serif;
	}
p{
	display: inline-block;	
}
img {
  height : 150px;
  width  : 90px;
}
.cabecalho-rodape {
	height : 100px;
	background-color: #008008;
	color : white;
	text-align : center;
	vertical-align : middle;
	line-height : 100px;
	font-size : 20px;
	font-weight : bold;
}
.menu {
	padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
.menu ul ,li, a {
    padding: 10px 20px;
    display: inline-block;
		/* visual do link */
    color: #333;
	text-decoration: none;
	font-size: 12px;
}

header  {
        position: relative;
        }
.MdFormato {
	color: #ff0000;
	}
.VltFormato {
		color:#000000;
		text-align:center;
		align:center;
}
  
